.section {
    box-shadow: 0 1px 2px 0px rgba($color: white, $alpha: 0.2);
    // border-bottom: .1px solid grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9;
    height: 70px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid var(--secondary1);
        color: var(--secondary1);
    }
}

// .currentSection {
//     color: white;
//     background-color: var(--secondary1);
// }