<div class="section">
    <div class="header">
        <a class="logo" href="#startScreen">
            <img class="content" src="assets/img/logo.png">
        </a>
        <div class="links" id="header" *ngIf="innerWidth > 670">
            <a class="content" href="#aboutMe">ABOUT ME</a>
            <!-- <a class="content" href="#skills">SKILLS</a> -->
            <a class="content" href="#portfolio">PORTFOLIO</a>
            <a class="content" href="#contactMe">CONTACT ME</a>
        </div>
        <img class="mobileMenu" (click)="toggleMenu()" src="assets/img/menuIcon.svg" *ngIf="innerWidth <= 670">
        <div class="mobileLinks slideOpen" [ngClass]="{'slideOpen': menuShow, 'slideClose': !menuShow}" *ngIf="innerWidth <= 670">
            <a class="content" href="#aboutMe">ABOUT ME</a>
            <!-- <a class="content" href="#skills">SKILLS</a> -->
            <a class="content" href="#portfolio">PORTFOLIO</a>
            <a class="content" href="#contactMe">CONTACT ME</a>
        </div>
    </div>
</div>