.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 20px;
    background-color: #f1fbff;
    padding-bottom: 20px;
    img{
        height: 64px;
    }
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 32px;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
        text-decoration: none;
    }
    
}

// 6200EE
// 3700b3

// 03Dac6
// 018786