.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 30px;
    z-index: 9;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f4f8;
    width: fit-content;
    width: calc(100% - 256px);
    padding: 0 30px !important;
    height: 70px;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: .1);
}

a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 30px;

    &:hover {
        transform: translateX(10px);
    }
}

.currentSection {
    color: white;
    background-color: #00d6a5;
}