body {
    background-color: black;
}

.header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 30px 30px 0 30px;
    transition: 250ms;
    background-color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f4f8;
    width: 100%;
    padding: 0 30px !important;
    height: 70px;
    border-radius: 20px;
}

a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 20px;

    &:hover {
        background-color: #00d6a4;
        color: white;
    }
}

.currentSection {
    color: white;
    background-color: #00d6a4;
}

.transform {
    // padding: 30px 96px 0 96px !important;
    padding-left: 96px;
    padding-right: 96px;
    transition: 250ms;

    .links {
        // box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: .1);
        box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    }
}