.section {
    box-shadow: 0 1px 2px 0px rgba($color: white, $alpha: 0.2);
    // border-bottom: .1px solid grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9;
    height: 70px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:hover {
        border: 1px solid var(--secondary1);
        color: var(--secondary1);
    }
}

a {
    text-decoration: none;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
}

.logo {
    img {
        height: 40px;
        border-radius: 5px;
    }
}

.mobileMenu {
    cursor: pointer;
}

.mobileLinks {
    position: fixed;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
    box-shadow: -1px 1px 2px 0px rgba($color: white, $alpha: 0.2);
    background-color: #18181e;
    border-bottom-left-radius: 5px;
    overflow: hidden;

    a {
        font-size: 24px;
        text-align: center;
        padding: 0 10px;

        &:hover {
            text-decoration: solid var(--secondary1) !important;
            color: var(--secondary1);
        }
    }
}

.slideOpen {
    animation: slideOpen 1s forwards;
}

.slideClose {
    animation: slideClose 1s forwards;
}

@keyframes slideOpen {
    from {
        height: 0;
    }
    to {
        height: 200px;
    }
}

@keyframes slideClose {
    from {
        height: 200px;
    }
    to {
        height: 0;
    }
}