.footer {
    width: 100%;
    height: 150px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    img {
        height: 45px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    a, p {
        text-decoration: none;
        color: white;
    }
}

.socialMedia {
    display: flex;
    gap: 20px;
    img {
        height: 50px;
        border-radius: 50%;
    }
}

.socialMedia::after {
    content: '';
    width: 70px;
}