<div class="section">
    <div class="footer">
        <div class="logo" *ngIf="innerWidth > 580">
            <a class="contain" href="#startScreen">
                <img class="content" src="assets/img/logo.png">
            </a>
        </div>
        <div class="copyright">
            <p>© Elijah Degen 2023</p>
            <a href="imprint">Imprint</a>
        </div>
        <div class="socialMedia">
            <a class="contain" href="https://github.com/elidegen" target="_blank">
                <img class="content" src="assets/img/icons/githubIcon.svg">
            </a>
            <a class="contain" href="mailto:elidegen@gmail.com">
                <img class="content" src="assets/img/icons/emailIcon.svg">
            </a>
            <a class="contain" href="https://www.linkedin.com/in/elijah-degen-333bb0241/" target="_blank">
                <img class="content" src="assets/img/icons/linkedInIcon.svg">
            </a>
        </div>
    </div>
</div>