.section {
    box-shadow: 0 -1px 2px 0px rgba($color: white, $alpha: 0.2);
}

.footer {
    height: 110px !important;
    height: fit-content;
    background-color: var(--primary1);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    >div {
        width: 33%;
    }
}

.logo {
    display: flex;
    align-items: center;

    img {
        border-radius: 5px;
        height: 45px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    font-size: 24px;

    a,
    p {
        text-decoration: none;
        font-size: 16px;
    }

    a {

        &:hover {
            // color: var(--secondary1);
            text-decoration: underline;
        }
    }
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    img {
        height: 40px;
        border-radius: 50%;
        // background-color: white;
    }
}

// .socialMedia::after {
//     content: '';
//     width: 70px;
// }