<div class="section">
    <div class="footer">
        <div class="logo">
            <div class="contain">
                <img class="content" src="assets/img/logo.png">
            </div>
        </div>
        <div class="copyright">
            <p>© Elijah Degen 2023</p>
            <a href="">Imprint</a>
        </div>
        <div class="socialMedia">
            <div class="contain">
                <img class="content" src="assets/img/icons/githubIcon.svg">
            </div>
            <div class="contain">
                <img class="content" src="assets/img/icons/emailIcon.svg">
            </div>
            <div class="contain">
                <img class="content" src="assets/img/icons/linkedInIcon.svg">
            </div>
        </div>
    </div>
</div>