.aboutMe {
    padding-top: 150px;
    height: 760px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.leftSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.h1 {

    text-align: center;
    background-color: #e3f4f8;
    border-radius: 30px;
    padding: 50px;
}

.textRight {
    height: 100%;

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3f4f8;
    border-radius: 30px;
    padding: 50px;

    p {
        font-size: 28px;
    }
}