<div class="section">
    <div class="aboutMe" id="aboutMe">
        <div class="top">
            <div class="text hidden">
                <h1 class="h1">About me</h1>
                <p>Hi! I'm Elijah, after successfully completing the Developer Academy I'm excited to put my knowledge
                    to the test in the real world.</p>
            </div>
            <div class="image hidden">
                <!-- <img class="bg" src="assets/img/elijah.png">
                <img class="noBg" src="assets/img/elijahNoBgFullSize.png"> -->
                <img class="bg" src="assets/img/elijah.jpg">
                <img class="noBg" src="assets/img/elijahNoBg.png">
            </div>
        </div>

        <div class="bottom">
            <div class="info hidden">
                <div class="icon">
                    <img src="assets/img/search.svg">
                </div>
                <p>Being able to understand the most complex things even in their smallest details is what I really love about
                    coding.</p>
            </div>
            <div class="info hidden">
                <div class="icon">
                    <img src="assets/img/balance.svg">
                </div>
                <p>User experience and design are, in my opinion, just as important as functionality.</p>
            </div>
            <div class="info hidden">
                <div class="icon">
                    <img src="assets/img/dumbell.svg">
                </div>
                <p>Between coding sessions I like to spend my time at the gym.</p>
            </div>
        </div>
    </div>
</div>