.aboutMe {
    padding-top: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.top {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    p {
        font-size: 18px;
    }
}

.image {
    border-radius: 15px;
    position: relative;
    height: 200px;
    width: 350px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
    }
}

.bg {
    opacity: .6;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 25%;

    p {
        text-align: center;
        font-size: 18px;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--secondary1);
    border-radius: 12px;
}



@media(max-width: 900px) {
    .top {
        flex-direction: column-reverse;
        align-items: center;
    }
    .text {
        max-width: unset;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
        .info {
            padding-top: 50px;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
        }
    }
}

@media(max-width: 500px) {
    .image {
        height: 200px;
        width: 300px;

        img {
            height: 200px;
        }
    }

    .info {
        flex-direction: column !important;
        align-items: center !important;
    }
}