<div class="section">
    <div class="aboutMe" id="aboutMe">
        <div class="text hidden">
            <h1 class="h1">About me</h1>
            <p >
                I'm a young and disciplined front-end software developer, driven by unbridled ambition and an unwavering
                commitment to perfection.<br><br> My work is a testament to my competence and dedication in turning ideas
                into pixel-perfect reality.<br><br> I'm passionate about the world of technology and computer science, and I
                channel that enthusiasm into every line of code I write. <br><br>With a relentless focus on achieving goals,
                I strive to push the boundaries of what's possible in web development.
            </p>
        </div>

        <div class="image hidden">
            <img class="bg" src="assets/img/elijah.png">
            <img class="noBg" src="assets/img/elijahNoBgFullSize.png">
        </div>
    </div>
</div>

<!-- text ideen: 

I'm a young and disciplined front-end software developer, driven by unbridled ambition and an unwavering commitment to perfection. My work is a testament to my competence and dedication in turning ideas into pixel-perfect reality. I'm passionate about the world of technology and computer science, and I channel that enthusiasm into every line of code I write. With a relentless focus on achieving goals, I strive to push the boundaries of what's possible in web development.


"As a Front-End Developer, I am passionately dedicated to crafting digital solutions that drive business
                success. <br><br>
                My focus on user-centered design and seamless user experiences enables me to showcase brands
                and
                products impressively.<br><br>
                I value collaboration and strive to develop innovative solutions within teams
                that
                advance your company's goals and vision. <br><br>
                With my commitment to continuous learning and staying current
                with
                technologies, I am always ready to take on new challenges and work together on successful projects."
            
-->