<div class="aboutMe padding" id="aboutMe">
    <div class="headline">
        <h1 class="h1">Let's work <br>together!</h1>
    </div>
    <div class="text">
        <p>
            "As a Front-End Developer, I am passionately dedicated to crafting digital solutions that drive business
            success. My focus on user-centered design and seamless user experiences enables me to showcase brands and
            products impressively. I value collaboration and strive to develop innovative solutions within teams that
            advance your company's goals and vision. With my commitment to continuous learning and staying current with
            technologies, I am always ready to take on new challenges and work together on successful projects."
        </p>
        <a href="#contactMe">
            <button> Contact me! </button>
        </a>
    </div>
</div>