.aboutMe {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    div {
        height: 100%;
    }
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.h1 {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
}

.textRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3f4f8;
    border-radius: 20px;
    padding: 50px;
    text-align: center;

    p {
        font-size: 28px;
    }
}