.aboutMe {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
        font-size: 18px;
    }
}

.image {
    border-radius: 15px;
    position: relative;
    height: 450px;
    width: 600px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 450px;
    }
}

.bg {
    opacity: .6;
}