.aboutMe {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
        font-size: 18px;
    }
}

.image {
    border-radius: 15px;
    position: relative;
    height: 450px;
    width: 600px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 450px;
    }
}

.bg {
    opacity: .6;
}

.fadeInUp {
    animation: 2s fadeInUp forwards;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,20%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}