<div class="project">
    <img src="assets/img/laptop.png">
    <div class="info">
        <h1>Join</h1>
        <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.</p>
        <div class="links">
            <button>
                Github
            </button>
            <button>
                Live test
            </button>
        </div>

    </div>
</div>