.project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
        height: 300px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;

    h3 {
        margin: 24px 0;
        font-size: 28px;
    }
}