<!-- <div class="startScreen padding">
    <div class="portrait">
        <img src="assets/img/elijahNoBg.png" alt="">
    </div>
    <div class="headline">
        <h1>Hello! I am Elijah</h1>
        <h1 class="h1">Frontend Developer</h1>
        <button>Contact Me</button>
    </div>
</div> -->

<div class="startScreen padding" id="startScreen">
    <div class="imgBox" id="imgBox">
        <img src="assets/img/elijah.png">
    </div>
    <div class="rightBox">
        <img src="assets/img/logo.png">
        <div class="textBox">
            <h1 class="greeting">Hello! I am Elijah</h1>
            <h1 class="h1">Frontend Developer</h1>
        </div>
    </div>
</div>