.startScreen {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: calc(100vh - 104px);
    background-color: lightgrey;
    box-sizing: border-box;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 150px;
    width: 100%;
    overflow: hidden;

    button {
        border: 0;
        font-size: 24px;
        width: fit-content;
        padding: 16px 24px;
        border-radius: 8px;
        background-color: lightblue;

        &:hover {
            cursor: pointer;
            background-color: rgb(151, 210, 230);
        }
    }
}

.portrait {
    display: flex;
    align-items: flex-end;

    img {
        height: 700px;
    }
}