.startScreen {
    display: flex;
    max-width: 100%;
    height: calc(100vh - 100px);
    padding: 30px;
    gap: 30px;
}

.imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    overflow: hidden;
    border-radius: 20px;

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
        border-radius: 20px;
    }
}

.rightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    padding: 50px;
    width: 550px;
    background-color: #e3f4f8;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .greeting {
        font-size: 55px;
        margin-left: 3px;
    }
}