.startScreen {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

p {
    font-size: 24px;
}

button {
    background-color: unset;
    border: 1px solid white;
    color: white;

    &:hover {
        border: 1px solid var(--secondary1);
        color: var(--secondary1);
    }
}