.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .img {
        display: flex;
        justify-content: center;
        background-color: var(--primary1);
        padding: 30px;
        border-radius: 20px;
        height: 100%;

        img {
            max-height: 100%;
            filter: drop-shadow(0px 0px 10px grey);

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.odd {
    flex-direction: row-reverse;

    .img {
        justify-content: flex-start;
    }

    .info {
        align-items: flex-end;
        text-align: end;
    }
}

.info {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 30px;
    // height: 100%;
    gap: 30px;

    h3 {
        font-size: 24px;
    }
}

h1 {
    // white-space: nowrap;
    font-size: 3rem;
}

.links {
    display: flex;
    gap: 15px;
}

@media(max-width: 1350px) {
    .project {
        flex-direction: column;
    }

    .info {
        align-items: center !important;
        gap: 20px;

        * {
            text-align: center;
        }
    }
}

@media(max-width: 800px) {
    img {
        height: 200px;
    }
}

@media(max-width: 620px) {
    .info {
        padding: 0;
    }
}

@media(max-width: 460px) {
    img {
        height: 150px;
    }
}