<div class="project" *ngFor="let item of projects; let i = index" [ngClass]="{ 'odd': i % 2 == 1 }">
    <div class="img hidden">
        <img src="{{projects[i].img}}">
    </div>
    <div class="info hidden">
        <h1>{{projects[i].name}}</h1>
        <h3>{{projects[i].language}}</h3>
        <p>{{projects[i].description}}</p>
        <div class="links">
            <a href="{{projects[i].github}}" target="_blank">
                <button> Github </button>
            </a>
            <a href="{{projects[i].ftp}}" target="_blank">
                <button> Live test </button>
            </a>
        </div>
    </div>
</div>