.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 400px;
    margin-top: 100px;

    .img {
        display: flex;
        justify-content: center;
        background-color: #e3f4f8;
        padding: 30px;
        border-radius: 20px;
        height: 100%;

        img {
            max-height: 100%;
            filter: drop-shadow(0px 0px 10px grey);

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.odd {
    flex-direction: row-reverse;

    .img {
        justify-content: flex-start;
    }

    .info {
        align-items: flex-end;
        text-align: end;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e3f4f8;
    padding: 30px;
    border-radius: 20px;
    height: 100%;

    h3 {
        font-size: 28px;
    }
}

h1 {
    white-space: nowrap;
}