.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 200px 0;

    .img {
        width: 600px;
        display: flex;
        justify-content: flex-end;

        img {
            height: 250px;
            filter: drop-shadow(0px 0px 10px grey);
            transition: 125ms;

            &:hover {
                transition: 125ms;
                transform: scale(1.1);
            }
        }
    }
}

.odd {
    flex-direction: row-reverse;

    .img {
        justify-content: flex-start;
    }

    .info {
        align-items: flex-end;
        text-align: end;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;

    h3 {
        margin: 24px 0;
        font-size: 28px;
    }
}