.contact {
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    gap: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    height: 100%;
    background-color: var(--primary1);
    // padding: 30px;
    border-radius: 20px;

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }

    a {
        font-weight: bold;
    }
}

form {
    min-width: 500px;
    height: 100%;
    background-color: var(--primary1);
    // padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        text-align: center;
    }

    .checkBox {
        height: unset;
    }

    fieldset {
        border: 1px solid white;
        border-radius: 8px;
        position: relative;
        padding: 5px;
    }

    input, textarea {
        background-color: var(--primary1);
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        border: 0;
        outline: none;
    }

    textarea {
        height: 100px;
    }
}