.contact {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    box-sizing: content-box;
    gap: 50px;
}

.text {
    width: fit-content;
    height: 100%;
    background-color: #e3f4f8;
    padding: 30px;
    border-radius: 30px;

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }

    a {
        font-weight: bold;
    }
}

form {
    min-width: 500px;
    height: 100%;
    background-color: #e3f4f8;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        text-align: center;
    }

    .checkBox {
        height: unset;
    }

    fieldset {
        border: 2px solid #04569b;
        border-radius: 8px;
        position: relative;
        padding: 2px;
    }

    input, textarea {
        background-color: #e3f4f8;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        border: 0;
        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 100px;
    }
}