<div class="section">
    <div class="contact" id="contactMe">

        <div class="text">
            <h1 class="h1">Contact</h1>
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work</p>
            <p>Need a Frontend developer? <a>Contact Me!</a></p>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="sendMail($event)">
            <fieldset [ngClass]="{'invalid': isInvalid('name'), 'valid': isValid('name')}">
                <legend> Your name </legend>
                <input type="text" formControlName="name">
            </fieldset>
            <div class="validate">
                <span *ngIf="name && name.invalid && name.touched">Please enter your name</span>
            </div>

            <fieldset [ngClass]="{'invalid': isInvalid('email'), 'valid': isValid('email')}">
                <legend> Your email </legend>
                <input type="email" formControlName="email">
            </fieldset>
            <div class="validate">
                <span *ngIf="email && email.invalid && email.touched">Please enter a valid email adress</span>
            </div>

            <fieldset [ngClass]="{'invalid': isInvalid('message'), 'valid': isValid('message')}">
                <legend> Your message </legend>
                <textarea type="text" formControlName="message"></textarea>
            </fieldset>
            <div class="validate">
                <span *ngIf="message && message.invalid && message.touched">Please enter your message</span>
            </div>

            <button [disabled]="contactForm.invalid" [ngClass]="{'disabledButton': contactForm.invalid}">Send</button>
        </form>
    </div>
</div>