<div class="section">
    <div class="contact" id="contactMe">

        <div class="text hidden">
            <h1 class="h1">Contact</h1>
            <p>I look forward to hearing from you!</p>
            <p>Feel free to reach out to me through this form to share your thoughts and ideas.</p>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit($event); contactForm.reset()" class="hidden">
            <fieldset [ngClass]="{'invalid': isInvalid('name'), 'valid': isValid('name')}">
                <legend> Your name </legend>
                <input type="text" formControlName="name" name="name" #nameInput>
            </fieldset>
            <div class="validate">
                <span *ngIf="name && name.invalid && name.touched">Please enter your name</span>
            </div>

            <fieldset [ngClass]="{'invalid': isInvalid('email'), 'valid': isValid('email')}">
                <legend> Your email </legend>
                <input type="email" formControlName="email" name="email" #emailInput>
            </fieldset>
            <div class="validate">
                <span *ngIf="email && email.invalid && email.touched">Please enter a valid email adress</span>
            </div>

            <fieldset [ngClass]="{'invalid': isInvalid('message'), 'valid': isValid('message')}">
                <legend> Your message </legend>
                <textarea type="text" formControlName="message" name="message" #msgInput></textarea>
            </fieldset>
            <div class="validate">
                <span *ngIf="message && message.invalid && message.touched">Please enter your message</span>
            </div>

            <div class="privacyPolicy">
                <input type="checkbox" formControlName="checkBoxInput"><p>I've read the <a href="privacypolicy">privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>

            <button type="submit" [disabled]="contactForm.invalid" [ngClass]="{'disabledButton': contactForm.invalid}">Send</button>
        </form>
    </div>
</div>
<div class="popUp" #popUp>
    <p>{{notification}}</p>
    <img src='{{ "assets/img/" + imgUrl + ".svg" }}'>
</div>