.contact {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    height: 100%;
    background-color: var(--primary1);
    // padding: 30px;
    border-radius: 20px;

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }

    a {
        font-weight: bold;
    }
}

form {
    min-width: 500px;
    height: 100%;
    background-color: var(--primary1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
    }

    .checkBox {
        height: unset;
    }

    fieldset {
        border: 1px solid white;
        border-radius: 8px;
        position: relative;
        padding: 5px;
    }

    input,
    textarea {
        background-color: var(--primary1);
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        border: 0;
        outline: none;
    }

    textarea {
        height: 100px;
    }
}

.validate {
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;

    span {
        color: #e61c40;
    }
}

.invalid {
    border: 1px solid #e61c40 !important;

    legend {
        color: #e61c40;
    }

    input,
    textarea {
        background: url('../../assets/img/alert.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) 0;
        background-size: 15px;
    }
}

.valid {
    border: 1px solid #70e61c !important;

    legend {
        color: #70e61c;
    }

    input,
    textarea {
        background: url('../../assets/img/greenTick.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) 0;
        background-size: 15px;
    }
}

.disabledButton {
    color: grey;
    border: 1px solid grey;
    cursor: default;

    &:hover {
        color: grey;
        border: 1px solid grey;
        cursor: default;
    }
}

button:hover {

    color: #70e61c;
    border: 1px solid #70e61c;
}

@media(max-width: 1350px) {
    .contact {
        flex-direction: column;
        align-items: center;
        .text {
            max-width: 100%;
        
            *{
                text-align: center;
            }
        }
    }
    form {
        align-items: center;
    }
    fieldset {
        width: 100%;
    }
}

@media(max-width: 620px) {
    form {
        min-width: unset;
        width: 90%;
    }
    .validate {
        span {
            white-space: nowrap;
        }
    }
}