.skills {
    display: flex;
    align-items: center;
}

.text {
    height: 120px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary2);
    background-color: var(--primary2);
    border-radius: 24px 0 0 24px;
}

.sliderContainer {
    display: flex;
    height: 120px;
    flex: 1;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary2);
    border-radius: 0 24px 24px 0;
}

.slider {
    height: 100%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    animation: slide 20s infinite linear;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px 25px;
    text-align: center;
    width: fit-content;

    img {
        height: 50px;
    }
}

p {
    font-size: 24px;
    white-space: nowrap;
}

.arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;

    img {
        height: 30px;
        background-color: var(--primary2);
        padding: 5px;
        border-radius: 100%;
    }
}

.prev {
    left: 0;
    background-image: linear-gradient(to right, var(--primary2), transparent);
    justify-content: flex-start;
}

.next {
    right: 0;
    background-image: linear-gradient(to left, var(--primary2), transparent);
    justify-content: flex-end;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

::-webkit-scrollbar {
    display: none;
}