<div class="section">
    <div class="skills" id="skills">
        <div class="text">
            <h1>Skills</h1>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                    <div>
                        <img class="svg" src="assets/img/icons/{{i}}.svg">
                    </div>
                    <p>{{skillDescription[i]}}</p>
                </div>
            </div>
            <div class="slider">
                <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                    <div>
                        <img class="svg" src="assets/img/icons/{{i}}.svg">
                    </div>
                    <p>{{skillDescription[i]}}</p>
                </div>
            </div>
            <div class="arrow prev">
                <!-- <img src="assets/img/arrowPrev.svg"> -->
            </div>
            <div class="arrow next">
                <!-- <img src="assets/img/arrowNext.svg"> -->
            </div>
        </div>
    </div>
</div>