<div class="section">
    <div class="skills hidden" id="skills">
        <div class="text">
            <h1>Skills</h1>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                    <div>
                        <img class="svg" src="assets/img/icons/{{i}}.svg">
                    </div>
                    <p>{{skillDescription[i]}}</p>
                </div>
            </div>
            <div class="slider">
                <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                    <div>
                        <img class="svg" src="assets/img/icons/{{i}}.svg">
                    </div>
                    <p>{{skillDescription[i]}}</p>
                </div>
            </div>
            <div class="shadow left">
            </div>
            <div class="shadow right">
            </div>
        </div>
    </div>
</div>