.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    padding-top: 150px;

    h1 {
        background-color: #e3f4f8;
        border-radius: 20px;
        padding: 30px;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #e3f4f8;
    border-radius: 20px;
    padding: 30px;

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 25px 25px;
        flex: 0 0 calc(20% - 50px);
        text-align: center;
    }

    img {
        height: 100px;
        &:hover {
            transform: translateY(-10px);
        }
    }

    p {
        font-size: 24px;
    }
}