.portfolio {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 140px;
}

.headline {
    height: 200px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1,
    p {
        background-color: var(--primary1);
        border-radius: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 20px;
        // background-color: unset;
        text-align: center;
        // line-height: 50px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 90px;
}