<!-- <a href="#aboutMe" #scrollA [ngClass]="{ 'hide': verticalOffset > 930 }">
    <p class="scroll" #scrollP>SCROLL DOWN <img src="assets/img/scrollArrowBlack.png"></p>
</a>

<a href="#header" #scrollA [ngClass]="{ 'hide': verticalOffset < 930 }">
    <p class="scroll scrollUp" #scrollP>SCROLL UP <img src="assets/img/scrollArrowBlack.png"></p>
</a> -->

<a href="#aboutMe" #scrollA [ngClass]="{ 'hide': verticalOffset > 930 }">
    <p class="scroll" #scrollP>SCROLL DOWN <img src="assets/img/scrollArrowBlack.png"></p>
</a>

<a href="#header" #scrollA [ngClass]="{ 'hide': verticalOffset < 930 }">
    <p class="scroll scrollUp" #scrollP>SCROLL UP <img src="assets/img/scrollArrowBlack.png"></p>
</a>