.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    background-color: #00d6a5;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 1px rgba($color: #000000, $alpha: 0.4);
    transition: 125ms;

    &:hover {
        background-color: #00c793;
        transform: translateY(-10px);
        transition: 125ms;
    }

    img {
        height: 70px;
    }
}

.up {
    position: fixed;
}

.down {
    position: absolute;
}

.hide {
    display: none;
}