.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    border: 3px solid grey;
    border-radius: 50%;

    img {
        height: 50px;
    }
}

.up {
    position: fixed;
}

.down {
    position: absolute;
}

.hide {
    display: none;
}