.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d6a4;
    border-radius: 15px;

    img {
        height: 70px;
    }
}

.up {
    position: fixed;
    bottom: 40px;
    right: 128px;
}

.down {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.hide {
    display: none;
}

.contain {    
    z-index: 99;
}