.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 110px 0;
    min-height: calc(100vh - 110px);
}

.imprint {
    height: fit-content;
}

h1 {
    margin: 50px 0;
    font-size: 60px;
}

h2 {
    margin: 30px 0;
}

p {
    margin: 15px 0;
}

@media(max-width: 400px) {
    h1 {
        font-size: 45px;
    }
}