@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'robotoMedium';
    src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: #18181e;
    overflow-x: hidden;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary1);
}

.section>* {
    width: 100%;
    max-width: var(--maxWidth);
    padding: 0 50px;
}

h1 {
    font-size: 4rem;
    font-family: robotoMedium, Arial, Helvetica, sans-serif !important;
    letter-spacing: 3px;
}

button {
    border: 1px solid white;
    font-size: 24px;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 8px;
    color: white;
    background-color: var(--primary1);
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondary1);
        color: var(--secondary1);
    }
}

* {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    transition: 125ms;
}

.d-none {
    display: none !important;
}

.contain {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    // border: 1px solid black;
    cursor: pointer;

    &:hover .content {
        transform: translateY(-10px);
    }
}

:root {
    font-size: 16px;

    --primary1: #18181e;
    --primary2: #22252b;

    --secondary1: #6eaff7;
    --secondary2: #598cc5;

    --gap: 15px;

    --maxWidth: 1250px;
}

@media(max-width: 620px) {
    .section>* {
        padding: 0 25px;
    }

    button {
        font-size: 18px;
        padding: 8px 16px;
    }
}

.hidden {
    opacity: 0;
}

.showBottom {
    animation: slideInBottom 750ms forwards;
}

.hideBottom {
    animation: slideOutBottom 750ms forwards;
}

@keyframes slideInBottom {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary1);
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary2);
  }