/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.padding {
    padding-left: 128px !important;
    padding-right: 128px !important;
}

h1 {
    margin: 0;
    font-size: 64px;
}

.h1 {
    margin: 0;
    font-size: 100px !important;
    white-space: nowrap;
    color: grey;
}

button {
    border: 0;
    font-size: 24px;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: lightblue;
    margin-right: 8px;

    &:hover {
        cursor: pointer;
        background-color: rgb(151, 210, 230);
    }
}