@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'lilita';
    src: url('assets/fonts/lilita/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'robotoMedium';
    src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: white;
}

.padding {
    padding-left: 128px !important;
    padding-right: 128px !important;
}

h1 {
    font-size: 64px;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.h1 {
    font-size: 100px !important;
    white-space: nowrap;
    color: #04569b;
    font-family: robotoMedium, Arial, Helvetica, sans-serif !important;
    font-weight: 100;
}

button {
    border: 0;
    font-size: 24px;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #00d6a4;
    color: white;
    margin-right: 8px;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        // background-color: #069ae5;
    }
}

* {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #003c58;
    scroll-behavior: smooth;
    transition: 125ms;
}

.d-none {
    display: none !important;
}

.contain {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    // border: 1px solid black;
    cursor: pointer;

    &:hover .content {
        transform: translateY(-10px);
    }
}

// Colors
// primary
$p50: #e3f4f8;
$p100: #b5e5ef;
$p200: #82d5e6;
$p300: #50c5dc;
$p400: #2cb9d4;
$p500: #14aecc;
$p600: #119fb9;
$p700: #0b8a9f;
$p800: #067787;
$p900: #00555d;

// secondary
$s50: #e0f8ef;
$s100: #b2edd7;
$s200: #79e1be;
$s300: #00d6a4;
$s400: #00cc90;
$s500: #00c17c;
$s600: #00b170;
$s700: #009e61;
$s800: #008c54;
$s900: #006c3c;