@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'lilita';
    src: url('assets/fonts/lilita/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'robotoMedium';
    src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.padding {
    padding-left: 128px !important;
    padding-right: 128px !important;
}

h1 {
    font-size: 64px;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.h1 {
    font-size: 100px !important;
    white-space: nowrap;
    color: #04569b;
    font-family: robotoMedium, Arial, Helvetica, sans-serif !important;
    font-weight: 100;
}

button {
    border: 0;
    font-size: 24px;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #29b5f6;
    color: white;
    margin-right: 8px;

    &:hover {
        cursor: pointer;
        background-color: #069ae5;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #003c58;
    scroll-behavior: smooth;
    transition: 125ms;
}

.d-none {
    display: none !important;
}